.overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.modal1 {
    opacity: 0;
    visibility: hidden;
    width: 30%;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.3s all;
}

.modal1.active,
.overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal1__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}

.btn1{
    font-weight: 600;
    font-size: 16px;
    color: white;
    position: relative;
    margin-top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #208855;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.modal1-title{
    color: black !important;
}

@media (max-width:768px) {
    .modal1 {
        opacity: 0;
        visibility: hidden;
        width: 60%;
        max-width: 500px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 30;
        box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
        text-align: center;
        padding: 30px;
        border-radius: 20px;
        background-color: #fff;
        transition: 0.3s all;
    }
    .btn1{
        font-weight: 600;
        font-size: 16px;
        color: white;
        position: relative;
        margin-top: 15px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: #208855;
        border: none;
        padding: 10px;
        border-radius: 20px;
    }
}
@media (max-width:320px) {
    .modal1 {
        opacity: 0;
        visibility: hidden;
        width: 90%;
        max-width: 500px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 30;
        box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
        text-align: center;
        padding: 30px;
        border-radius: 20px;
        background-color: #fff;
        transition: 0.3s all;
    }
    .btn1{
        font-weight: 600;
        font-size: 16px;
        color: white;
        position: relative;
        margin-top: 15px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: #208855;
        border: none;
        padding: 10px;
        border-radius: 20px;
    }
}


